5-AA/data/cifar-10-python.tar.gz
5-AA/data/cifar-10-batches-py/batches.meta
5-AA/data/cifar-10-batches-py/data_batch_1
5-AA/data/cifar-10-batches-py/data_batch_2
5-AA/data/cifar-10-batches-py/data_batch_3
5-AA/data/cifar-10-batches-py/data_batch_4
5-AA/data/cifar-10-batches-py/data_batch_5
5-AA/data/cifar-10-batches-py/readme.html
5-AA/data/cifar-10-batches-py/test_batch
